:root {
    --success: green;
    --danger: red;
    --warning: yellow;
    --info: #0000ff;
    --dark: #3f3f3f;
    --light: lightgray;
    font-size: 16px;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background-color: #f9fafb;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0 0 0.75rem 0;
}

.main {
    display: flex;
    flex-direction: row;
    position: relative;
}

.wrapper {
    height: 100%;
    width: 100%;
}

.col-5 {
    width: calc((100% / 12) * 4);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.col-7 {
    width: calc((100% / 12) * 8);
}

.background-img {
    background-image: url("./img/background-unsplash.jpg");
    background-size: cover;
    background-attachment: scroll;
}

.logo-container {
    background-color: rgb(0,0,0,0.5);
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: no-wrap;
    gap: 2rem;
    color: white;
}

.logo-text {
    font-family: 'Lobster', 'Verdana', 'Geneva', 'Tahoma', 'sans-serif';
    font-size: 3rem;
    color: white;
}

.logo {
    width: 95px;
    height: auto;
}

.top-section, .bottom-section {
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.form-section {
    padding: 2rem;
    background-color:white;
    box-shadow: 2px 2px 15px #3f3f3f0f;
}

.top-section {
    justify-content: end;
}

.bottom-section {
    align-items: flex-start
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 4rem;
}

.form-group {
    /*width: 250px;*/
    width: 40%;
    display: flex;
    flex-direction: column;
}

.lead {
    font-size: 1.25rem;
    font-weight: 700;
}

.text-width {
    max-width: 700px;
}

input:not([type=submit]) {
    height: 25px;
    border-color: #dedede;
    border-style: solid;
    border-radius: .5rem;
    width: 100%;
}

input:invalid {
    border-color: var(--danger);
}

button {
    padding: 5px 15px;
    cursor: pointer;
}

.btn-submit {
    background-color: #596d48;
    border-radius: .25rem;
    color: white;
    padding: .5rem 2rem;
    font-size: 1.1rem;
    font-weight: 700;
    border-width: 0px;
    margin-bottom: 1rem;
}

label {
    font-size: .75rem;
    margin-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #808080;
}

.error.active {
    color: var(--danger);
    border-color: red;
    background-color: rgb(255, 172, 172);
}

span.error.active {
    color: var(--danger);
    font-size: .8rem;
    font-weight: 700;
    border: none;
    background-color: transparent;
}

@media screen and (max-width: 768px) {
    .main {
        flex-direction: column;
    }
    .col-5, .col-7 {
        width: 100%;
    }
}